  .input {
    /* @apply p-2 m-2 rounded-lg; */
    @apply mt-1 px-3 py-2 
    bg-fun-blue-300
    border
    /* dark:border-fun-blue-200 */
    placeholder-fun-blue-500
    focus:outline-none 
    focus:border-fun-blue-500 
    focus:ring-fun-blue-500
    block 
    w-full 
    rounded-md 
    text-sm md:text-lg
    focus:ring-1;
  }

  .inputAndLabel {
    @apply flex flex-col;
  }

  .inputLabel {
    @apply text-sm md:text-lg 
  }

  .adminAddArticle {
    @apply mx-4 flex flex-col
  }

  .btnAdmin {
    @apply p-2 m-1 
    font-light
    bg-hit-pink-500 
    border border-hit-pink-500 
    rounded-lg
    self-end
    hover:filter hover:brightness-125
  }

  .container {
    min-height: 100vh;
    display: flex;
  }
  
  .container section {
    width: 60vw;
    margin-right: 1rem;
  }
  
  .container aside {
    display: flex;
    flex-direction: column;
    width: 20%;
    min-width: 250px;
    min-height: 200px;
    text-align: center;
    position: sticky;
    top: 80px;
    height: 0;
  }
  
  .hidden {
    display: none;
  }
  
  .controls {
    display: flex;
    flex-direction: column;
  }
  
  .controls textarea {
    height: 60vh;
    border: none;
    outline: none;
    padding: 0.5rem;
    font-size: 1.25rem;
  }
  
  .checkbox {
    display: inline;
    width: auto;
  }
  
  @media only screen and (max-width: 768px) {
    .container {
      flex-direction: column;
    }
  
    .container section {
      width: 100%;
    }
  
    .container aside {
      width: 100%;
      position: relative;
    }
  }