@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-bg: #fbfbfb;
  --color-text: #0a0a0a;
  --color-blue: #3b49df;
  --color-red: #df3b3b;
  --color-green: #3bdf72;
  --color-gray: #b5bdc4;
}

html,
body {
  padding: 0;
  margin: 0;
  color: var(--color-text);
}

h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.5rem;
}
h2 {
  font-size: 1.25rem;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

.ProseMirror {
  @apply px-5 pt-2 pb-2 bg-white text-blog-black;
}

.ProseMirror > code {
  @apply bg-blog-white text-[#616161];
}

.ProseMirror > pre {
  @apply bg-blog-black text-white font-mono p-2 rounded;
}

.ProseMirror > pre > code {
  @apply p-0 text-white text-inherit text-sm bg-inherit;
}

.ProseMirror blockquote {
  @apply pl-2 border-l-4 border-indigo-500;
}

.ProseMirror hr {
  @apply border-none border-t-2 border-fun-blue-500 m-2;
}

code {
  @apply bg-blog-white text-[#616161];
}

pre {
  @apply bg-blog-black text-white font-mono p-2 rounded;
}

pre > code {
  @apply p-0 text-white text-inherit text-sm bg-inherit;
}

hr {
  @apply border-none border-t-2 border-fun-blue-500 m-2;
}

fieldset {
  border: none;
  font-size: 1.25rem;
}

.post-content > p {
  @apply my-2;
}

.post-content > blockquote {
  @apply pl-2 border-l-4 border-indigo-500;
}

.admin-content > p {
  @apply my-2;
}

.admin-content > blockquote {
  @apply pl-2 border-l-4 border-indigo-500;
}

/* Navbar */

.navbar {
  width: 100%;
  position: fixed;
}

.navbar ul {
  list-style-type: none;
}

/* Buttons */

.btn,
button {
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  cursor: pointer;
}

button:disabled,
button[disabled] {
  filter: brightness(80%);
  cursor: not-allowed;
}

button.btn-google {
  background-color: white;
  color: var(--color-text);
}

.btn-google img {
  width: 30px;
  margin-right: 10px;
}

button.btn-logo {
  background-color: var(--color-text);
  color: white;
  text-transform: uppercase;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
}

/* Cards */

.card-img-center {
  width: 20%;
  display: block;
  margin: auto;
  border-radius: 50%;
  max-width: 150px;
}

.card-info {
  color: white;
  background: var(--color-blue);
}

/* Loader */

.loader {
  border: 10px solid var(--color-bg);
  border-top: 10px solid var(--color-blue);
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Utilities */

.push-left {
  margin-left: auto;
}

.text-sm {
  font-size: 0.85rem;
}

.text-danger {
  font-weight: bold;
  color: var(--color-red);
}

.text-success {
  font-weight: bold;
  color: var(--color-green);
}

.text-info {
  font-weight: bold;
  color: var(--color-blue);
}

.box {
  display: flex;
  justify-content: space-between;
}

.box-center {
  display: flex;
  flex-direction: column;
  align-content: center;
  text-align: center;
}

.hidden {
  display: none;
}

/* CSSTransition classes  */

.menu-primary-enter {
  position: absolute;
  transform: translateX(-110%);
}

.menu-primary-enter-active {
  transform: translateX(0%);
  transition: all 500ms ease;
}

.menu-primary-exit {
  position: absolute;
}

.menu-primary-exit-active {
  transform: translateX(-110%);
  transition: all 500ms ease;
}

.menu-secondary-enter {
  transform: translateX(110%);
}

.menu-secondary-enter-active {
  transform: translateX(0%);
  transition: all 500ms ease;
}

.menu-secondary-exit {
}

.menu-secondary-exit-active {
  transform: translateX(110%);
  transition: all var(--speed) ease;
}

.text-stroke-outline {
  color:  #FBFBFB;
  -webkit-text-stroke-width: 0.075rem;
  -webkit-text-stroke-color: #0A0A0A; 
}

.dark .text-stroke-outline {
  color: #00539c;
  -webkit-text-stroke-width: 0.075rem;
  -webkit-text-stroke-color: #FBFBFB;
}

.quote-section {
  flex: none;
  display: flex;
}

.quote-wrap {
  width: 100%;
  flex: none;
  display: flex;
}

/* iframe */

iframe {
  @apply dark:bg-fun-blue-500;
}
